.Container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.coin-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    /* border-bottom: 1px solid #d7d7d7; */
}

.coin {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.coin img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coin h1 {
    font-size: 16px;
    padding-right: 10px;    
}

.coin-symbol {
    text-transform: uppercase;
    color: grey;
}

.coin-data {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.coin-price {
    padding: 0 70px;
}

.coin-marketcap {
    padding: 0 40px;
}

.coin-percent {
    padding: 0 40px;
}

.red {
    color: #f00606;
    font-size: 12px;
}

.green {
    color: #11d811;
    font-size: 12px;
}


.rank {
    padding-right: 15px;
}